* {
  margin: 0;
}

.one {
  background-color: red;
  padding: 2rem;
  margin: 2rem;
  border: 5px dotted green;
  border-radius: 20px;
}

.two {
  background-color: blue;
  padding: 4rem;
  margin: 2rem;
  outline: 10px solid green;
  outline-offset: -2rem;
}
